flows_Mecatronica.json
[{"id":"4eee501f.7d856","type":"tab","label":"inject","disabled":false,"info":""},{"id":"d3153aec.86a468","type":"tab","label":"swich","disabled":false,"info":""},{"id":"f8a87b1f.7b3478","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"2574a758.ba66e8","type":"tab","label":"telegram","disabled":false,"info":""},{"id":"7db4d966.f26a88","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"967cd262.d04b5","type":"ui_group","z":"","name":"Default","tab":"7db4d966.f26a88","order":1,"disp":true,"width":"6","collapse":false},{"id":"74a0847f.173fec","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"mi control","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bf8b4891.fc2f38","type":"inject","z":"4eee501f.7d856","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HOLA MUNDO","payloadType":"str","x":150,"y":80,"wires":[["25e61154.1d06de"]]},{"id":"25e61154.1d06de","type":"debug","z":"4eee501f.7d856","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"481d56c.c72b5a8","type":"inject","z":"d3153aec.86a468","name":"hola","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola","payloadType":"str","x":130,"y":120,"wires":[["71e47a4f.bd9824"]]},{"id":"1fd32791.6f7488","type":"inject","z":"d3153aec.86a468","name":"adios","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"adios","payloadType":"str","x":130,"y":200,"wires":[["71e47a4f.bd9824"]]},{"id":"84fc9493.bc5f78","type":"debug","z":"d3153aec.86a468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"71e47a4f.bd9824","type":"switch","z":"d3153aec.86a468","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"hola","vt":"str"},{"t":"eq","v":"adios","vt":"str"},{"t":"eq","v":"saludos","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":420,"y":160,"wires":[["360be7bd.9b7438"],["84fc9493.bc5f78"],["8df4d6.23061b28"]]},{"id":"360be7bd.9b7438","type":"debug","z":"d3153aec.86a468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[],"inputLabels":["hola"]},{"id":"8df4d6.23061b28","type":"debug","z":"d3153aec.86a468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"e50dacf9.15209","type":"ui_button","z":"f8a87b1f.7b3478","name":"","group":"967cd262.d04b5","order":0,"width":0,"height":0,"passthru":false,"label":"push","tooltip":"","color":"","bgcolor":"","icon":"","payload":"saludos a todos","payloadType":"str","topic":"","x":180,"y":140,"wires":[["8fe2d355.c0849"]]},{"id":"8fe2d355.c0849","type":"ui_audio","z":"f8a87b1f.7b3478","name":"","group":"967cd262.d04b5","voice":"es-US","always":"","x":510,"y":140,"wires":[]},{"id":"c1ab44cb.49eb78","type":"inject","z":"d3153aec.86a468","name":"saludos","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"saludos","x":120,"y":320,"wires":[["71e47a4f.bd9824"]]},{"id":"93d94ab.78172b8","type":"inject","z":"f8a87b1f.7b3478","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":300,"wires":[[]]},{"id":"3783fdb1.fde862","type":"inject","z":"f8a87b1f.7b3478","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":480,"wires":[[]]},{"id":"c45287f6.1590e8","type":"inject","z":"f8a87b1f.7b3478","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":640,"wires":[[]]}]